<div class="container mt-4">

    <div class="card shadow">

        <div class="card-header bg-primary text-white">

            <h3>Add Meme</h3>

        </div>

        <div class="card-body">

            <div class="mb-3">

                <label class="form-label">
                    Title
                </label>

                <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="title">

            </div>


            <div class="mb-3">

                <label class="form-label">
                    Description
                </label>

                <textarea
                    class="form-control"
                    rows="3"
                    [(ngModel)]="description">
                </textarea>

            </div>


            <div class="mb-3">

                <label class="form-label">
                    Category
                </label>

                <select
                    class="form-select"
                    [(ngModel)]="categoryId">

                    <option value="0">
                        Select Category
                    </option>

                    <option
                        *ngFor="let category of categories"
                        [value]="category.id">

                        {{category.name}}

                    </option>

                </select>

            </div>


            <div class="mb-3">

                <label class="form-label">
                    Image
                </label>

                <input
                    type="file"
                    class="form-control"
                    accept="image/*"
                    (change)="onImageSelected($event)">

            </div>


            <div class="mb-3">

                <label class="form-label">
                    Audio
                </label>

                <input
                    type="file"
                    class="form-control"
                    accept=".mp3"
                    (change)="onAudioSelected($event)">

            </div>


            <button
                class="btn btn-success"
                (click)="save()">

                Save Meme

            </button>

        </div>

    </div>

</div>